* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.top {
    height: 50px;
    background-color: hsl(225, 80%, 43%);
}

.topBox {
    display: inline-block;
    height: 50px;
    width: 500px;
    background-color: hsl(225, 80%, 43%);
    margin: 0 50px;
}

.topItem {
    line-height: 50px;
    color: aliceblue;
    margin: 0 20px;
    text-decoration: none;
}

.login {
    line-height: 50px;
    color: aliceblue;
    margin: 0 20px;
    text-decoration: none;
    float: right;
}

.camera {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: url(../img/file.jpg);
    background-size: cover;
    margin: 5px 20px;
    text-decoration: none;
    float: right;
}

.camera:hover {
    transform: scale(1.2, 1.2);
    z-index: 100;
}

.selfCenter {
    line-height: 50px;
    color: aliceblue;
    padding: 0 20px;
    text-decoration: none;
    position: relative;
    float: right;
}

.selfCenter:hover {
    background-color: #fff;
    color: hsl(223, 86%, 72%);
    text-decoration: none;
}

.hidden {
    width: 105px;
    height: 250px;
    background-color: #fff;
    color: hsl(223, 86%, 72%);
    display: none;
    position: absolute;
    right: 0;
    z-index: 10;
}

/* 当鼠标悬停在个人中心上时hidden的样式为 */
.selfCenter:hover>.hidden {
    display: block;
    z-index: 100;
}

.hideInform {
    text-align: center;
}

.hideInform:hover {
    background-color: hsl(225, 80%, 43%);
    color: #fff;
}

/* 购物车 */
.cartContainer {
    text-align: center;
    margin: 20px auto;
    width: 1300px;
    border: 4px solid hsl(225, 80%, 43%);
    border-radius: 10px;
}

.title {
    width: 500px;
    height: 80px;
    color: hsl(225, 80%, 43%);
    margin: 20px auto;
    line-height: 80px;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

.operate {
    text-align: center;
    font-size: larger;
    height: 50px;
    line-height: 50px;
}

.delete {
    background-color: hsl(223, 86%, 72%);
    color: #fff;
    font-size: large;
    padding: 2px 6px;
    border-radius: 5px;
    border: 2px solid hsl(225, 80%, 43%);
    cursor: pointer;
    margin: 10px;
}

.delete:hover {
    background-color: hsl(225, 80%, 43%);
}

.anchor {
    text-decoration: none;
    color: hsl(225, 80%, 43%);
    margin: 0 20px;
}

.cart {
    width: 1000px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid hsl(225, 80%, 43%);
    padding-top: 5px;
    padding-bottom: 10px;
}

.pic {
    width: 100px;
    height: 100px;
}

.picBox {
    padding-top: 10px;
    padding-bottom: 10px;
}

.picBox,
.contentBox {
    display: inline-block;
}

.contentBox {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 600px;
    vertical-align: top;
}

.commodity_id,
.commodity_stock {
    color: hsl(225, 80%, 43%);
    font-size: large;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.commodity_price {
    color: hsl(0, 74%, 50%);
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.commodity_title {
    color: hsl(225, 80%, 43%);
    font-size: 30px;
    font-weight: bold;
}

.num{
    height: 40px;
    line-height: 40px;
    vertical-align: top;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: hsl(0, 74%, 50%);
    margin: 10px auto;
}

.add,
.minus{
    vertical-align:middle;
    border: none;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: hsl(223, 86%, 72%);
    color: #fff;
    font-size: larger;
    text-align: center;
    border-radius: 5px;
    padding-top: 0px;
}
/* 分页 */
#pager {
    text-align: center;
    line-height: 80px;
    font-size: larger;
    width: 800px;
    height: 80px;
    margin: 0 auto;
    cursor: pointer;
}

.numberselected {
    background-color: hsl(223, 86%, 72%);
    color: #fff;
    padding: 0 8px;
    margin: 0 10px 0 0;
    border-radius: 4px;
}

.number {
    margin: 0 10px 0 0;
}

.first,
.prev,
.omit,
.next,
.last,
.total {
    padding: 0 10px;
}

.up{
    width: 120px;
    height: 40px;
    left: 91%;
    top: 94%;
    color: hsl(225, 80%, 43%);
    font-size: x-large;
    font-weight: bolder;
    position: fixed;
}

.down{
    width: 120px;
    height: 40px;
    left: 91%;
    top: 9%;
    color: hsl(225, 80%, 43%);
    font-size: x-large;
    font-weight: bolder;
    position: fixed;
}