*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/* 左侧导航栏 */
.leftBox{
    position: fixed;
    display: inline-block;
    width: 12%;
    height: 100vh;
    background-color: hsl(223, 86%, 72%);
    box-shadow: 2px 0 10px grey;
}

.leftImg{
    text-align: center;
    display: block;
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 60px;
    margin: 20px auto;
}

.leftNav{
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    display: block;
    height: 50px;
    color: #fff;
    font-size: larger;
}

.hideNav{
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    display: block;
    height: 50px;
    color: hsl(223, 79%, 89%);
}

.ani{
    transition: all 0.2s;
}

.leftNav:hover{
    background-color: hsl(223, 72%, 58%);
    font-size: large;
    text-shadow: #fff 0 4px 4px;
}

.hideNav:hover{
    background-color: hsl(223, 72%, 58%);
    color: #fff;
}

.rightBox{
    float: right;
    vertical-align: top;
    display: inline-block;
    width: 88%;
}

/* 顶部 */
.top{
    width: 100%;
    display: inline-block;
    height: 60px;
    vertical-align: top;
    background-color: hsl(223, 79%, 89%);
    box-shadow: hsl(225, 80%, 43%) 2px 4px 20px;
    line-height: 50px;
}

.topNav,
.topNav1{
    /* border: 2px solid hsl(223, 72%, 58%);
    border-radius: 5px; */
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 8px;
    margin-right: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    height: 40px;
    color: hsl(223, 72%, 58%);
    font-weight: bold;
    font-size: x-large;
}

.topNav{
    float: right;
}

.topNav1{
    float: left;
}

.topNav:hover,
.topNav1:hover{
    color: hsl(223, 86%, 72%);
}

/* 表单 */
.formBox {
    width: 800px;
    height: 900px;
    background-color: #fff;
    margin: 40px auto;
    border: 2px solid hsl(223, 86%, 72%);
    border-radius: 10px;
}

.imgBox{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 100px;
}

#file{
    width: 400px;
    margin-top: 20px;
    margin-left: 260px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: hsl(225, 80%, 43%);
}
.inputBox {
    width: 608px;
    height: 60px;
    margin: 40px auto;
    border-radius: 10px;
}

.welcome {
    width: 600px;
    height: 60px;
    margin: 20px auto;
    color: hsl(223, 86%, 72%);
    font-size: xx-large;
    font-weight: bolder;
    line-height: 60px;
    text-align: center;
}

.left {
    width: 80px;
    height: 60px;
    background-color: hsl(223, 69%, 86%);
    display: inline-block;
    border-radius: 10px 0 0 10px;
    padding: 0 10px;
    vertical-align: bottom;
    color: hsl(225, 80%, 43%);
    font-weight: bold;
    font-size: large;
    line-height: 60px;
    text-align: center;
    border: 2px solid hsl(225, 80%, 43%);
}

.input {
    width: 500px;
    height: 60px;
    background-color: #fff;
    border: 2px solid hsl(225, 80%, 43%);
    border-left: 0px;
    margin: 0;
    color: hsl(225, 80%, 43%);
    font-size: larger;
    vertical-align: bottom;
    outline-color: hsl(225, 80%, 43%);
    border-radius: 0 10px 10px 0;
}

input::placeholder {
    color: hsl(223, 69%, 86%);
}

.radio {
    text-align: left;
    display: inline-block;
    width: 500px;
    height: 60px;
    background-color: #fff;
    border: 2px solid hsl(225, 80%, 43%);
    border-left: 0px;
    margin: 0;
    color: hsl(225, 80%, 43%);
    font-size: larger;
    line-height: 60px;
    outline-color: hsl(225, 80%, 43%);
    border-radius: 0 10px 10px 0;
}

.btnBox {
    width: 604px;
    height: 60px;
    background-color: #fff;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.logbtn {
    background-color: hsl(225, 85%, 60%);
    border: 2px solid hsl(225, 85%, 60%);
    color: #fff;
    font-size: larger;
    margin: 10px 0;
    padding: 0 20px;
    border-radius: 4px;
    font-weight: bold;
}

.logbtn:hover {
    background-color: hsl(225, 89%, 72%);
    border: 2px solid hsl(225, 89%, 72%);
}

.anchor {
    display: inline-block;
    height: 36px;
    background-color: hsl(225, 85%, 60%);
    border: 2px solid hsl(225, 85%, 60%);
    color: #fff;
    font-size: larger;
    margin: 10px 0;
    padding: 0 20px;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    line-height: 36px;
}

.anchor:hover {
    background-color: hsl(225, 89%, 72%);
    border: 2px solid hsl(225, 89%, 72%);
}