*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/* 左侧导航栏 */
.leftBox{
    position: fixed;
    display: inline-block;
    width: 12%;
    height: 100vh;
    background-color: hsl(223, 86%, 72%);
    box-shadow: 2px 0 10px grey;
}

.leftImg{
    text-align: center;
    display: block;
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 60px;
    margin: 20px auto;
}

.leftNav{
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    display: block;
    height: 50px;
    color: #fff;
    font-size: larger;
    transition: all 0.5s;
}

.hideNav{
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    display: block;
    height: 50px;
    color: hsl(223, 79%, 89%);
    transition: all 0.5s;
}

.ani{
    transition: all 0.2s;
}

.leftNav:hover{
    background-color: hsl(223, 72%, 58%);
    font-size: large;
    text-shadow: #fff 0 4px 4px;
    transition: all 0.5s;
}

.hideNav:hover{
    background-color: hsl(223, 72%, 58%);
    color: #fff;
    transition: all 0.5s;
}

.rightBox{
    float: right;
    vertical-align: top;
    display: inline-block;
    width: 88%;
}

/* 顶部 */
.top{
    width: 100%;
    display: inline-block;
    height: 60px;
    vertical-align: top;
    background-color: hsl(223, 79%, 89%);
    box-shadow: hsl(225, 80%, 43%) 2px 4px 40px;
    line-height: 50px;
}

.topNav,
.topNav1{
    /* border: 2px solid hsl(223, 72%, 58%);
    border-radius: 5px; */
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 8px;
    margin-right: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    height: 40px;
    color: hsl(223, 72%, 58%);
    font-weight: bold;
    font-size: x-large;
    transition: all 0.5s;
}

.topNav{
    float: right;
}

.topNav1{
    float: left;
}

.topNav:hover,
.topNav1:hover{
    transition: all 0.5s;
    color: hsl(223, 86%, 72%);
}

.container{
    overflow: hidden;
    width: 1360px;
    height: 765px;
    background-image: url(../../img/0.jpg);
    margin: 20px auto;
}

.title {
    width: 500px;
    height: 80px;
    color:#fff;
    line-height: 80px;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin: 80px 400px 20px;
}

.text1{
    width: 800px;
    height: 80px;
    text-align: center;
    color: #fff;
    font-size: xx-large;
    font-weight: bolder;
    margin: 20px auto;
    line-height: 80px;
}


@keyframes cameraImg {
    0% {box-shadow: 0 0 20px bisque;}
    25% {box-shadow: 0 0 20px rgb(200, 61, 255);}
    50% {box-shadow: 0 0 20px rgb(42, 229, 249);}
    75% {box-shadow: 0 0 20px rgb(245, 249, 42);}
    100% {box-shadow: 0 0 20px bisque;}
}

.cameraImg {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    box-shadow: 0 0 40px bisque;
    animation-name: cameraImg;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform: rotate(0) scale(1);
    transition: all 0.5s;
}

.cameraImg:hover {
    transition: all 0.5s;
    transform: rotate(720deg) scale(1.1);
}

/* 遮罩&弹出层 */
.shade{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.shade::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(3px);
    z-index: 10;
}

.pop{
    position: absolute;
    left: 56%;
    top: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 480px;
    text-align: center;
    z-index: 11;
    font-size: large;
    color: hsl(225, 80%, 43%);
    font-weight: bold;
    border: 2px solid hsl(225, 80%, 43%);
    border-radius: 10px;
}

.text,
.Text {
    font-size: xx-large;
    color: hsl(225, 80%, 43%);
    margin: 20px auto;
    width: 400px;
    height: 50px;
}

.Text{
    font-size: large;
}

#files{
    font-size: large;
    font-weight: bolder;
    margin-left: 210px;
}

#submit,#cancel{
    cursor: pointer;
    padding: 4px 10px;
    background-color:hsl(225, 80%, 43%);
    border: 2px solid hsl(223, 72%, 58%);
    color: #fff;
    font-size: larger;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin: 50px 10px;
}

#submit:hover,
#cancel:hover {
    background-color:hsl(223, 72%, 58%);
    transition: all 0.2s;
}

.img{
    display: inline-block;
    margin: 10px;
}