*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/* 左侧导航栏 */
.leftBox{
    position: fixed;
    display: inline-block;
    width: 12%;
    height: 100vh;
    background-color: hsl(223, 86%, 72%);
    box-shadow: 2px 0 10px grey;
}

.leftImg{
    text-align: center;
    display: block;
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 60px;
    margin: 20px auto;
}

.leftNav{
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    display: block;
    height: 50px;
    color: #fff;
    font-size: larger;
    transition: all 0.5s;
}

.hideNav{
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    display: block;
    height: 50px;
    color: hsl(223, 79%, 89%);
    transition: all 0.5s;
}

.ani{
    transition: all 0.2s;
}

.leftNav:hover{
    background-color: hsl(223, 72%, 58%);
    font-size: large;
    text-shadow: #fff 0 4px 4px;
    transition: all 0.5s;
}

.hideNav:hover{
    background-color: hsl(223, 72%, 58%);
    color: #fff;
    transition: all 0.5s;
}

.rightBox{
    float: right;
    vertical-align: top;
    display: inline-block;
    width: 88%;
}

/* 顶部 */
.top{
    width: 100%;
    display: inline-block;
    height: 60px;
    vertical-align: top;
    background-color: hsl(223, 79%, 89%);
    box-shadow: hsl(225, 80%, 43%) 2px 4px 20px;
    line-height: 50px;
}

.topNav,
.topNav1{
    /* border: 2px solid hsl(223, 72%, 58%);
    border-radius: 5px; */
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 8px;
    margin-right: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    height: 40px;
    color: hsl(223, 72%, 58%);
    font-weight: bold;
    font-size: x-large;
    transition: all 0.5s;
}

.topNav{
    float: right;
}

.topNav1{
    float: left;
}

.topNav:hover,
.topNav1:hover{
    transition: all 0.5s;
    color: hsl(223, 86%, 72%);
}

#container {
    width: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color:hsl(223, 79%, 89%); */
    margin: 40px auto;
    text-align: center;
    border: 2px solid hsl(225, 80%, 43%);
    border-radius: 10px;
}

.pic {
    margin: 20px;
}

.text1,
.text2 {
    text-align: center;
    color: hsl(225, 80%, 43%);
    font-weight: bold;
    margin: 20px auto;
}

.text1 {
    font-size: xx-large;
}

.text2 {
    font-size: large;
}

#files {
    width: 220px;
    font-size: large;
    font-weight: bold;
    color: hsl(225, 80%, 43%);
    margin: 10px auto;
}

#commodityDetail {
    color: hsl(225, 80%, 43%);
    font-size: large;
    font-weight: bold;
}

#title,
#content,
#category,
#price,
#stock {
    padding-left: 10px;
    color: hsl(225, 80%, 43%);
    margin: 10px auto;
    height: 40px;
    outline-style: none;
    border-radius: 5px;
    border: 2px solid hsl(225, 80%, 43%);
    font-size: large;
    width: 600px;
}

input::placeholder {
    color: hsl(223, 86%, 72%);
}

#submit {
    margin-top: 20px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    background-color: hsl(225, 80%, 43%);
    color: #fff;
    font-size: larger;
    border-radius: 5px;
    border: 2px solid hsl(223, 86%, 72%);
}

#submit:hover {
    background-color: hsl(223, 86%, 72%);
}

@keyframes cameraImg {
    0% {box-shadow: 0 0 20px bisque;}
    25% {box-shadow: 0 0 20px rgb(200, 61, 255);}
    50% {box-shadow: 0 0 20px rgb(42, 229, 249);}
    75% {box-shadow: 0 0 20px rgb(245, 249, 42);}
    100% {box-shadow: 0 0 20px bisque;}
}

.cameraImg {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    box-shadow: 0 0 40px bisque;
    animation-name: cameraImg;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform: rotate(0) scale(1);
    transition: all 0.5s;
}

.cameraImg:hover {
    transition: all 0.5s;
    transform: rotate(720deg) scale(1.1);
}